		body{
			background-color: white;
		}
		
		header img{
			text-align: left;
			background-color: white;
			color: white;
			width: 100%;
		}
		
		.vota{
			background-color: black;
			color: white;
			text-align: center;
		}

		table{
			border: 2px;
			border-radius: 3px;
			border-color: black;
			margin-right: 10px;
			margin-left: 10px;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		footer{
			text-align: center;
			background-color: black;
			color: white;
		}
		
		header nav {
			background:black;
			overflow:hidden;
		}

		header nav ul {
			list-style:none;
		}

		header nav ul li {
			float:left;
		}
		header nav ul li a {
			padding:10px 20px;
			display:block;
			color:white;
			text-decoration:none;
		}

		header nav ul li a:hover {
			background: black;
		}
		
		ul.menu{
		   list-style:none;
		   text-align: left;
		}

		ul.menu ul{
		   display:none;
		   list-style:none;
		}

		ul.menu li:hover > ul{
		   display:block;
		}

		#snow{
			background: none;
			background-image: url('img/s1.png'), url('img/s2.png'), url('img/s3.png');
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index:1;
			-webkit-animation: snow 10s linear infinite;
			-moz-animation: snow 10s linear infinite;
			-ms-animation: snow 10s linear infinite;
			animation: snow 10s linear infinite;
		}
		
		@keyframes snow {
		  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
		  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
		  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
		}
		
		@-moz-keyframes snow {
		  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
		  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
		  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
		}
		
		@-webkit-keyframes snow {
		  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
		  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
		  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
		}
		
		@-ms-keyframes snow {
		  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
		  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
		  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
		}